{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="text-center">Local Library Home</h1>
  <p class="text-center">Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>
</div>


<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Books:</strong> {{ num_books }}</li>
    <li class="list-group-item"><strong>Copies:</strong> {{ num_instances }}</li>
    <li class="list-group-item"><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li class="list-group-item"><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
